/* variables */
:root  {
    --background-color:#222;
    --sec-background-color:#111;
    --color-txt:#ffff;
    --color-wrong:red;
    --color_done:green;
}
/* variables */
/* ########################################################################### */
/* global */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'M PLUS 1p', sans-serif;
}
body {
    background-color: var(--background-color);
    overflow-x: hidden;
}
a {
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: var(--color-txt);
}
label {
    color: var(--color-txt);
    font-size: 1.5rem;
    margin-bottom: 10px;
}
ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}
li {
    margin-left: 10px;
}
/* global */
/* ############################################################################ */
/* header */
#header {
    width: 100%;
    height: 70px;
    padding: 25px;
    font-size: 1.5rem;
    background-color: var(--sec-background-color);
    position: fixed;
    color: var(--color-txt);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: -70px;
    z-index: 1  ;
}
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.logo ul .active {
    color: var(--color-wrong);
}
.logo li {
    padding-left: 35px;
    transition: all 0.3s;
}
.logo li:hover {
    color: var(--color_done);
    transition: all 0.3s;
}
.logo h2 {
    font-family: 'Indie Flower', cursive;
    letter-spacing: 2px;
}
.some_links {
    /* background-color: red; */
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
.some_links .fa-brands {
    padding-left: 15px;
}
.some_links .fa-solid {
    padding-left: 15px;
}
.some_links li {
    transition: all 0.3s;
}
.some_links li:hover{
    color: var(--color-wrong);
    transition: all 0.3s;
}
/* header */
/* ############################################################################ */
.mainSection {
    width: 100%;
    height: calc(100vh - 70px);
    background-color: var(--background-color);
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.mainContainer {
    width: 100%;
    height: 100%;
    background-color: var(--sec-background-color);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
}
.mainImage {
    width: 100%;
    height: 60%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.otherimage {
    width: 100%;
    height: 30%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    margin-top: 20px;
}
.contImage {
    width: 750px;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
.contImage img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 2.5px solid var(--color-wrong);
}
.allImages {
    width: 90%;
    height: 170px;
    background-color: var(--background-color);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.img0 {
    width: calc(90% / 5);
    height: 150px;
    /* background-color: orchid; */
    border-radius: 8px;
    margin: 7px;
}
.img0 img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 1.5px solid var(--color-wrong);
    cursor: pointer;
}
.pages {
    width: 100%;
    height: 10%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.allpages {
    width: 450px;
    height: 100%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;
}
.pageOne,.pageTow,.pageThree,.pageFour,.pageFive {
    width: calc(300px / 5);
    height: 100%;
    background-color: var(--sec-background-color);
    color: var(--color-txt);
    border-radius: 8px;
    border: 2px solid var(--color-wrong);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    cursor: pointer;
}
.activePage {
    border: 2px solid var(--color_done);
    transform: scale(0.9);
    transition: all 0.5s;
}
.activimage {
    border: 3.5px solid var(--color_done);
    transform: scale(0.9);
    transition: all 0.5s;
}
.noAccount {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-txt);
}
.frame {
    width: 550px;
    height: 80px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 3.5px solid var(--color-wrong);
}
.frame::after {
    content: '|';
    animation-name: word;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    font-size: 1.5rem;
}
@keyframes word {
    0% {
        content: 'N|';
    }
    4% {
        content: 'No|';
    }
    8%{
        content: 'No |';
    }
    12%{
        content: 'No A|';
    }
    16%{
        content: 'No Ac|';
    }
    20%{
        content: 'No Acc|';
    }
    24%{
        content: 'No Acc|';
    }
    28%{
        content: 'No Acco|';
    }
    32%{
        content: 'No Accou|';
    }
    36%{
        content: 'No Accoun|';
    }
    40%{
        content: 'No Account|';
    }
    44%{
        content: 'No Account |';
    }
    48%{
        content: 'No Account l|';
    }
    52%{
        content: 'No Account lo|';
    }
    56%{
        content: 'No Account log|';
    }
    60%{
        content: 'No Account log |';
    }
    64%{
        content: 'No Account log i|';
    }
    68%{
        content: 'No Account log in|';
    }
    72%{
        content: 'No Account log in |';
    }
    76%{
        content: 'No Account log in n|';
    }
    80%{
        content: 'No Account log in no|';
    }
    84%{
        content: 'No Account log in now|';
    }
    88%{
        content: 'No Account log in now!|';
    }
    92%{
        content: 'No Account log in now|';
    }
    96%{
        content: 'No Account log in now|';
    }
    100%{
        content: 'No Account log in now|';
    }
}
.hidden {
    display: none;
}